@import "./variables";

@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

body {
    background-color: $background-color;
    color: $text-color;
}


header {
    background-color: $secondary-color;
    position: fixed;
    z-index: 999;

    nav {
        width: 100vw;
        height: 10vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .brand {
        display: flex;
        flex-direction: column;

        .imgg {
        background-color: #fff;
        position: absolute;
        border-radius: 8%;
        margin: 9px 15px auto;
        

        img {
            height: 35px;
            width: 35px;

            &:hover {
                color: $primary-color!important;
            }
        }
    }
     
     .brand-text {
         color: $primary-color;
         position: absolute;
         margin: 20px 60px auto;

         a {
             color: white;
             text-decoration: none;
             font-weight: bolder;
             line-height: 1;
             font-size: 20px;
         }
         
     }

     
    }
    

    ul {
        display: flex;
        margin-left: -10px;
        margin-right: 30px;
    
    }

    li {
      padding-left: 50px;
      margin: 20px auto;

      a {
          color: $text-color;
          text-decoration: none;
      }
      
      &:hover {
          text-decoration: none;
          color: red;
      }
      
    }

   button {
       background-color: $primary-color;
       outline: none;
       border: none;
       padding: 8px;
        margin: -20px auto;
        border-radius: 5px;
        font-family: 'Berkshire Swash', cursive;
   }

}

.hero-section {
    background-image: url(/Images/women-removebg-preview.png),
                      linear-gradient(red, #f06d06);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    width: 100vw;
    height: 90vh;
    overflow: hidden;

    .hero-content {
        position: absolute;
        top: 25%;
        left: 10%;
        right: 10%;
        text-align: center;

        @include desktop {
            left: 30%;
            right: 30%;
        }

    }

h2 {
        color: text-color;
        font-weight: 900;
        font-family: 'Archivo Black', sans-serif;
        font-size: 30px;

        @include desktop {
            font-size: 40px;
        }
    }

    .home-video {
       margin-top: 10px;
       font-size: 15px;
      
      img {
          margin-top: 3px;
      }
    }



.search-bar {
    margin-top: 20px;
    width: 250px;
    height: 50px;
    border: none;
    font-size: 20px;
    font-weight: 700;
    color: $secondary-color;
    padding-left: 12px;
    padding-right: 5px;
    font-family: 'Scheherazade', serif;
    border-top-left-radius: 20px;




    &::placeholder {
         font-size: 12px;
         font-family: 'Scheherazade', serif;

         @include desktop {
             font-size: 15px;
         }
    }

    @include desktop {
        width: 500px;
    }
}
    button {
        height: 50px;
        border: none;
        background: none;
        cursor: pointer;
        

        img {
            margin-top: 20px;
        height: 50px;
       background-color: $primary-color;
       outline: none;
       border: none;
       padding: 8px;
       border-bottom-right-radius: 20px;
       
       
            
        }
    }
}

.tb {
    display: flex;

}


.form-text {
    text-align: left!important;
    font-size: 12px;
    padding-left: 5px;

    b {
        color: white;
        font-weight: 900;
    }
}

.header-links {
    display: none;
 
   @include desktop {
       display: block;
   }
}

.mobile-trigger {
    background-color: $text-color;
      margin: 16px 15px auto;
      cursor: pointer;
      border-radius: 10px;

      @include desktop {
        display: none;
    }
    
}



.home-category {
    background-color: $primary-color;
    height: 7vh;
    margin: 0 auto;
    overflow-y: auto;
    width: 100vw;
     font-family: 'Berkshire Swash', cursive;
    
   @include desktop {
       overflow: hidden;
   }

    ul {
        display: flex;
        justify-content: space-around;
        width: 550px;
         margin: 0 auto;

        li {
            margin-right: 20px;
            padding: 3px;
          a {
              color: white;
              font-weight: bolder;
              text-decoration: none;
              font-size: 15px;

              @include desktop {
                  font-size: 25px;
                 }
          }
        }
    }
}


.photo-textt {
    height: 5vh;
    width: 100vw;
    

    &-wrapper {
        display: flex;
        justify-content: space-between;
        color: $secondary-color;
        overflow: hidden;
        width:100%;
        margin-top: 20px;
        margin-left:20px;
        margin-right: 20px;
    }

    h3 {
        margin-left: 50px;
    }
}




.photo-grid {
    height:100vh;
    display: flex;
    margin-top: 0px;
    margin-left: 20px;
    margin-right:20px;

    .image-container {
        width: 100vw;

        .image-gallery {
            display: grid;
            grid-template-columns:1fr 1fr 1fr;
            grid-template-rows: auto;
            grid-gap: 18px;
             grid-template-areas: 
             "img-1 img-1 img-1"
               "img-2 img-2 img-2"
                "img-3 img-3 img-3"
                 "img-4 img-4 img-4"
                  "img-5 img-5 img-5"
                 "img-6 img-6 img-6"
                "img-7 img-7 img-7"
                 "img-8 img-8 img-8"
                  "img-9 img-9 img-9";

           
           @include tablet {
               grid-template-areas:
                 "img-1 img-1 img-2"
                 "img-3 img-4 img-2"
                 "img-5 img-6 img-7"
                  "img-8 img-8 img-9";
                   
           }
               

                 @include desktop {
                     grid-template-areas: 
                      "img-1 img-2 img-3"
                     "img-4 img-2 img-5"
                     "img-6 img-7 img-7"
                    "img-8 img-8 img-9";
                 }

            a {
                width: 100%;
                height: 400px;
                background-position: center;
                background-size:cover;
                background-repeat: no-repeat;
                position: relative;
                display: flex;
                justify-content: center;
                text-decoration: none;

              
                i {
                    display:none;
                }
            }
        }
    }
}



.img-1 {
    grid-area: img-1;
    background: url(./Images/img1.PNG);
}

.img-2 {
    grid-area: img-2;
    background: url(./Images/img2.PNG);
    min-height: 818px;
}

.img-3 {
    grid-area: img-3;
    background: url(./Images/img3.PNG);
}

.img-4 {
    grid-area: img-4;
    background: url(./Images/img4.PNG);
}

.img-5 {
    grid-area: img-5;
    background: url(./Images/img5.PNG);
}

.img-6 {
    grid-area: img-6;
    background: url(./Images/img6.PNG);
}

.img-7 {
    grid-area: img-7;
    background: url(./Images/img7.PNG);
}

.img-8 {
    grid-area: img-8;
    background: url(./Images/img8.PNG);
}

.img-9 {
    grid-area: img-9;
    background: url(./Images/img9.jpg);
}

